
<form id="return-form">
    <label for="email">Email/Phone:</label>
    <input type="text" id="email" required>
    <br>
    <label for="order-number">Order Number:</label>
    <input type="text" id="order-number" required pattern="\d{4}">
    <br>
    <button type="submit">Submit</button>
</form>
<div id="toast"></div>

<script src="{{ 'script.js' | asset_url }}"></script>